<!--about-->
<div class="about-content">
    <div class="about-top">
        <div class="container">
            <h2>About Us</h2>
            <!--<div class="row">
                <div class="col-sm-4 col-xs-6 about-grid abt-brp">
                    <img src="images/abt.jpg" class="img-circle abt-img" alt="" />
                    <h3>john Doe</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>

                </div>
                <div class="col-sm-4 col-xs-6 about-grid abt-brp">
                    <img src="images/abt3.jpg" class="img-circle abt-img" alt="" />
                    <h3>Rachel</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>

                </div>
                <div class="col-sm-4 col-xs-12 about-grid abt-brp">
                    <img src="images/abt2.jpg" class="img-circle abt-img t" alt="" />
                    <h3>Richard</h3>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p>

                </div>
            </div>-->
        </div>
    </div>
    <!--about-top-->
    <div class="about-bottom">
        <div class="container">
            <h4>"WE HAVE THE KEY TO WHERE YOU HAVE TO BE"</h4>
            <div class="col-sm-7 col-xs-12 about-btm-text">
                <p>“Krishna Stays" a premium and prestigious Hotel in “Gurgaon or Delhi” the heart of Gurgaon, We are Gurgaon's
                    undisputed leader in providing you luxury service Hotels. Our reputation is based on offering clients
                    the utmost choice of impeccably luxury service in Gurgaon combined with tireless individual and personalized
                    service that is both attentive and discreet. Our aim is to offer you an inviting, homely warm welcoming
                    atmosphere, which is not only blissful but also rejuvenating, enabling you to handle your business or
                    personal agenda with ease. Our Service Hotel Gurgaon is self-contained and available both on per day
                    basis and long-term basis.</p>
                <p>Krishna Stays goal is to provide world-class accommodation with a personal touch to our guests. Our Service
                    Hotel in Gurgaon are ideal for business travel with all necessary amenities, and bigger privacy. The
                    Hotel are situated near all prominent areas of Gurgaon like conveniently 500meters from Huda city centre
                    , famous land mark in Gurgaon, and just walking distance from Sector 44, Huda city centre, and other
                    famous mall in Gurgaon. It is also just 2 to 3 kms from Shushant lok , famous IT center .
                </p>
                <p>Krishna Stays, a name which has been known for providing immaculate services in the hospitality, offers a
                    comfort of an oversized living room giving you a sense of privacy. </p>
                <p>At Krishna Stays, we offer an Intelligent luxury of the highest international standard that nurtures the
                    indigenous feel in design, architecture and service, to offer you a simple yet sophisticated living.,
                    A Stay here offers you a unique and enriching experience, all amenities to pamper yourself, this is one
                    of NCR’ finest serviced Hotels and offers resort like living in the heart of the town. </p>
                <p> Accommodation in Gurgaon combined with tireless individual service that is both attentive and discreet. Krishna
                    Stays’ aim is to make you feel at homely leaving with all the time & piece of mind to handle your business
                    & personal agenda with ease.
                </p>

            </div>
            <div class="col-sm-5 col-xs-12 slide-about">
                <div class="side">
                    <div id="top" class="callbacks_container">
                        <ul class="rslides about-slides" id="slider4">
                            <li>
                                <img src="images/proj.jpg" class="img-abt-grid" alt="" />
                            </li>
                            <li>
                                <img src="images/proj1.jpg" class="img-abt-grid" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <script src="js/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                                    $(function () {
                                      // Slideshow 4
                                      $("#slider4").responsiveSlides({
                                        auto: true,
                                        pager:false,
                                        nav: true,
                                        speed: 500,
                                        namespace: "callbacks",
                                        before: function () {
                                          $('.events').append("<li>before event fired.</li>");
                                        },
                                        after: function () {
                                          $('.events').append("<li>after event fired.</li>");
                                        }
                                      });

                                    });
                </script>
                <!--//End-slider-script-->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--<div class="about-testimonials">
        <div class="container">
            <h3 class="test">Testimonials</h3>
            <div class="col-sm-4 col-xs-6 test-bkp">
                <div class="test-mon">
                    <h3>lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6 test-bkp">
                <div class="test-mon">
                    <h3>lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 test-bkp">
                <div class="test-mon">
                    <h3>lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>-->
</div>
<!--about-ends-->