<!--contact-->
<div class="contact">
    <div class="container">
        <h2>contact</h2>
        <div class="col-sm-6 col-xs-12 contact-left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287424.1771205895!2d37.63249495!3d55.749792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2sMoscow%2C+Russia!5e0!3m2!1sen!2sin!4v1442555113039" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 contact-right">
            <div class="adress">
                <ul>
                    <li>Moscow</li>
                    <li>Russia</li>
                    <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +222 333 000</li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="form-details">
                <form>
                    <input type="text" class="name-con" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"><br>
                    <input type="text" class="email-con" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"><br>
                    <textarea class="contact-area" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea><br>
                    <a class="btn btn-default btn-contact" href="#" role="button">Submit</a>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--contact-->