<div class="header-bottom">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/ban.jpg" alt="banner" class="banner-wid">
                <div class="carousel-caption">
                    <h3> Krishna Stays - best affordable rooms available in town. </h3>
                </div>
            </div>
            <div class="item">
                <img src="images/ban1.jpg" alt="banner" class="banner-wid">
                <div class="carousel-caption">
                    <h3> Krishna Stays - best affordable rooms available in town. </h3>
                </div>
            </div>
            <div class="item">
                <img src="images/ban2.jpg" alt="banner" class="banner-wid">
                <div class="carousel-caption">
                    <h3> Krishna Stays - best affordable rooms available in town. </h3>
                </div>
            </div>
        </div>
        <!-- Controls -->

    </div>
</div>

<!--content-starts-->
<div class="content">
    <section class="best-quality">
        <div class="container">
            <p>
                Krishna Stays rooms rate<a class="btn btn-default btn-quality" href="#" role="button">Find out more</a>
            </p>
        </div>
    </section>
    <div class="work-section">
        <div class="container">
            <div class="col-md-6 work-grids">
                <div class="work-grid-text">
                    <ul>
                        <li>
                            <span class="glyphicon glyphicon-glass work-grid-icn" aria-hidden="true"></span>Krishna Stays
                            Sec 44
                        </li>
                        <!--<li>
                            <span class="glyphicon glyphicon-wrench work-grid-icn" aria-hidden="true"></span>Installation
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-pushpin work-grid-icn" aria-hidden="true"></span>Preference
                        </li>-->

                    </ul>
                    <div class="clearfix"></div>
                    <p>The DLF Golf Course is located at 3 km. Sector 44 is 500 mtr. Unitech cyber park 300 mtr. Huda city centre 500 mtr Sec-29 1 Km , away from the property. The Delhi Railway Station is 10 km away, while the Indira Gandhi International Airport is 14 km.
                    </p>
                    <a class="btn btn-default work-btn" href="#" role="button">find out more</a>
                </div>
            </div>
            <div class="col-md-6 work-grids">
                <div class="work-img">
                    <img src="images/wrk.jpg" alt="/" class="work-img-wid">
                </div>
            </div>
            <div class="col-md-6 work-grids">
                <div class="work-img">
                    <img src="images/wrk1.jpg" alt="/" class="work-img-wid">
                </div>
            </div>
            <div class="col-md-6 work-grids">
                <div class="work-grid-text">
                    <ul>
                        <li>
                            <span class="glyphicon glyphicon-glass work-grid-icn" aria-hidden="true"></span>Krishna Stays
                            Hudda City Center
                        </li>
                        <!--<li>
                            <span class="glyphicon glyphicon-ok work-grid-icn" aria-hidden="true"></span>Quality Check
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-user work-grid-icn" aria-hidden="true"></span>Support
                        </li>-->

                    </ul>
                    <div class="clearfix"></div>
                    <p>
                        HUDA City Centre Metro Station where you can treat your taste buds to a lavish spread of different cuisines. In case of any emergency, Artemis hospital (2 km) and Fortis hospital (2.6 km) are quite closeby.
                    </p>
                    <a class="btn btn-default work-btn" href="#" role="button">find out more</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 work-grids">
                <div class="work-grid-text">
                    <ul>
                        <li>
                            <span class="glyphicon glyphicon-glass work-grid-icn" aria-hidden="true"></span>Krishna Stays
                            Greater Kailash Delhi
                        </li>
                        <!--<li>
                            <span class="glyphicon glyphicon-wrench work-grid-icn" aria-hidden="true"></span>Installation
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-pushpin work-grid-icn" aria-hidden="true"></span>Preference
                        </li>-->

                    </ul>
                    <div class="clearfix"></div>

                    <p>
                       32 rooms in the property redefine luxury and comfort, with high end furnishings and snuggly beds that provide complete relaxation, after a tiring day. The rooms have all the modern amenities available, considering the needs of a business traveler. The rooms have sound proof windows that only allow natural light to enter our rooms, elevating the comfort that we offer.
                    </p>
                    <a class="btn btn-default work-btn" href="#" role="button">find out more</a>
                </div>
            </div>
            <div class="col-md-6 work-grids">
                <div class="work-img">
                    <img src="images/wrk2.jpg" alt="/" class="work-img-wid">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="our-latest">
        <div class="container">
            <h2>Our Latest Projects</h2>
            <div class="col-md-6 latest-grid">
                <div class="latest-bg-pos">
                    <img src="images/proj2.jpg" alt="/" class="latest-img">
                    <div class="latest-text">
                        <div class="border-line">
                            <h3>Lorem Ipsum Exclusive</h3>
                            <p>7<small>th</small> July, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 latest-grid">
                <div class="latest-bg-pos">
                    <img src="images/proj.jpg" alt="/" class="latest-img">
                    <div class="latest-text">
                        <div class="border-line">
                            <h3>Lorem Ipsum Exclusive</h3>
                            <p>25<small>th</small> Aug, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 latest-grid">
                <div class="latest-bg-pos">
                    <img src="images/proj1.jpg" alt="/" class="latest-img">
                    <div class="latest-text">
                        <div class="border-line">
                            <h3>Lorem Ipsum Exclusive</h3>
                            <p>18<small>th</small> May, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 latest-grid">
                <div class="latest-bg-pos">
                    <img src="images/proj3.jpg" alt="/" class="latest-img">
                    <div class="latest-text">
                        <div class="border-line">
                            <h3>Lorem Ipsum Exclusive</h3>
                            <p>7<small>th</small> Feb, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="twitter-feeds">
        <!--script-->
        <script src="js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                              $("#slider").responsiveSlides({
                                auto: true,
                                speed: 500,
                                namespace: "callbacks",
                                pager: true,
                              });
                            });
        </script>
        <!--script-->
        <div class="container">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <div class="caption">
                                <h3>TWITTER FEEDS</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="caption">
                                <h3>TWITTER FEEDS</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing . consectetur
                                    adipiscing elit
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="caption">
                                <h3>TWITTER FEEDS</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.
                                </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content-ends-->