<!--services-->
<div class="service-content">
    <div class="service-info">
        <div class="container">
            <h2>Services</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel risus non mauris volutpat pellentesque.
                Sed rhoncus, arcu nec euismod ultrices tellus nulla varius tellus ac blandit nunc ex vel felis pellentesque
                imperdiet imperdiet nibh</p>-->
        </div>
    </div>
    <div class="icon-grids-top">
        <div class="container">
            <div class="col-md-4 service-box">
                <div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
                    <a href="#" class="hi-icon">
                        <span class="glyphicon glyphicon-lamp service-icn"></span>
                    </a>
                </div>
                <h5>Standard Room</h5>
                <!--<p>Sed ut perspiciis iste natus error sit voluptatem accusantium laudantium elerisque ipsum .</p>-->
            </div>
            <div class="col-md-4 service-box">
                <div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
                    <a href="#" class="hi-icon">
                        <span class="glyphicon glyphicon-grain service-icn"></span>
                    </a>
                </div>
                <h5>Deluxe Room</h5>
                <!--<p>Sed ut perspiciis iste natus error sit voluptatem accusantium laudantium elerisque ipsum .</p>-->
            </div>
            <div class="col-md-4 service-box">
                <div class="hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3b">
                    <a href="#" class="hi-icon">
                        <span class="glyphicon glyphicon-globe service-icn"></span>
                    </a>
                </div>
                <h5>Premium Room</h5>
                <!--<p>Sed ut perspiciis iste natus error sit voluptatem accusantium laudantium elerisque ipsum .</p>-->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--services-pop-grid-->
    <div class="service-pop">
        <div class="container">
            <div class="col-md-4 servic-bkp">
                <div class="service-img">
                    <img src="images/proj.jpg" alt="/" class="service-img-wid">
                </div>
                <div class="srvice-text">
                    <h3>Standard Room</h3>
                    <pre>
Accommodation in a well-appointed room
One Bottle of Mineral water per day.
Morning breakfast.
LCD TV with international Channels.
International Direct Dial from rooms.
Choice of Newspaper & Magazines.
Fully Air Conditioned rooms.
24 hrs hot and cold water.
Wi-Fi Enabled- Broadband.
100% Power Back-up.
RO water System.
Tea / Coffee Makers in each room.
24 hrs Security.
24hrs Housekeeping service.
24 hrs Cook facilites.
24hrs Business facility.
STD ISD FAX
Refrigerator.
Gym
Travel Desk.
Same day laundry.
Telephone facilities
100% Power Backup.
</pre>

                </div>
            </div>
            <div class="col-md-4 servic-bkp">
                <div class="service-img">
                    <img src="images/wrk.jpg" alt="/" class="service-img-wid">
                </div>
                <div class="srvice-text">
                    <h3>Deluxe Room</h3>
                                  <pre>
Accommodation in a well-appointed room
One Bottle of Mineral water per day.
Morning breakfast.
LCD TV with international Channels.
International Direct Dial from rooms.
Choice of Newspaper & Magazines.
Fully Air Conditioned rooms.
24 hrs hot and cold water.
Wi-Fi Enabled- Broadband.
100% Power Back-up.
RO water System.
Tea / Coffee Makers in each room.
24 hrs Security.
24hrs Housekeeping service.
24 hrs Cook facilites.
24hrs Business facility.
STD ISD FAX
Refrigerator.
Gym
Travel Desk.
Same day laundry.
Telephone facilities
100% Power Backup.
</pre>
                </div>
            </div>
            <div class="col-md-4 servic-bkp">
                <div class="service-img">
                    <img src="images/wrk1.jpg" alt="/" class="service-img-wid">
                </div>
                <div class="srvice-text">
                    <h3>Premium Room</h3>
                                  <pre>
Accommodation in a well-appointed room
One Bottle of Mineral water per day.
Morning breakfast.
LCD TV with international Channels.
International Direct Dial from rooms.
Choice of Newspaper & Magazines.
Fully Air Conditioned rooms.
24 hrs hot and cold water.
Wi-Fi Enabled- Broadband.
100% Power Back-up.
RO water System.
Tea / Coffee Makers in each room.
24 hrs Security.
24hrs Housekeeping service.
24 hrs Cook facilites.
24hrs Business facility.
STD ISD FAX
Refrigerator.
Gym
Travel Desk.
Same day laundry.
Telephone facilities
100% Power Backup.
</pre>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--services-ends-->